.header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 6.8rem;

  font-family: $mainFont;

  @include box-shadow;

  z-index: 2;

  background-color: $white;


  @media screen and (min-width: 768px) {

  }
}



.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding-bottom: 0.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
}


// left col
.header__logo {
  display: flex;
  align-items: center;

  height: 2.4rem;

  @media screen and (min-width: 768px) {



    margin-left: 2rem;
    margin-right: auto;

  }
}

.header__logo-img {
  height: 2rem;
}

.header__title {
  margin-right: auto;

  font-size: $l-Fs;
  font-weight: 300;
  color: $base;

}

.header__call {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  @media screen and (min-width: 768px) {
    order: 2;
  }
}



// right col

.header__menu-mob-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 3rem;
  height: 100%;

  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {

  }
}


.header__icon-burger {
  width: 3rem;
  height: 1.8rem;

  fill: $darkgray;
}


.header__icon-burger:hover {
  fill: $gray;
}

svg path {
  fill: inherit;
}

