.header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  height: 6.8rem;

  font-family: $mainFont;

  @include box-shadow;

  z-index: 3;

  background-color: $white;


  @media screen and (min-width: 768px) {
    height: auto;
  }
}

.header__top-line {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 4rem;

    background-color: #DCE5E9;
  }
}

.header__bottom-line {
  @media screen and (min-width: 768px) {
    min-height: 10rem;


    & .header__menu-mob-btn {
      display: none;
    }
  }
}



.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding-bottom: 0.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    max-width: 115.2rem;

    &.header__bottom-line {
      padding-top: 1rem;
      padding-bottom: 1rem;
      box-sizing: border-box;
    }
  }
}

.header__top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

.header__top-item {
  font-size: 1.4rem;
  color: $black;
}


.header__main-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}

.header__main-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 3rem;

  width: 100%;
  height: 100%;
}

.header__main-nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40%;

  &:hover .header__main-subnav {
    display: flex;
    transition: 1s;
  }
}

// Submenu
.header__main-subnav {
  position: absolute;
  top: 6rem;
  left: 0;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 1;

  padding-top: 2rem;
  padding-bottom: 1rem;
  box-sizing: border-box;

  background-color: $white;

  box-shadow: 0 0.3rem 0.2rem rgba($black, 0.4);

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0);
  }
}


.header__main-subnav-item {
  display: flex;
  align-items: center;

  min-width: 20rem;
  min-height: 3.5rem ;

  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $lightgray;
  }
}

.header__main-subnav-link {
  font-size: $s-Fs;
  color: $black;

  text-decoration: none;
}



.header__main-nav-link {
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  color: $black;
  text-decoration: none;

  &::before {
    position: absolute;
    content: '';
    bottom: -0.5rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: $black;

    transition: 0.5s;
  }

  &:hover {
    font-weight: bold;
    letter-spacing: 0.01rem;
  }

  &:hover::before {
    width: 100%;
    transition: 0.5s;

  }
}




// right col
.header__menu-enter {
  display: none;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  flex-shrink: 1;

  height: 100%;

  font-size: 1.2rem;


  @media screen and (min-width: 768px) {
    display: flex;
  }

}

.header__enter-reg {
  @include no-btn;

  font-weight: bold;
  color: $black;
}

.header__enter-link {
  font-weight: bold;
  color: $black;

  text-decoration: none;
}



// left col
.header__logo {
  display: flex;
  align-items: center;

  height: 2.4rem;

  @media screen and (min-width: 768px) {


  }
}

.header__logo-img {
  height: 2rem;
}

.header__title {
  margin-right: auto;

  font-size: $l-Fs;
  font-weight: 300;
  color: $base;

}

.header__call {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  @media screen and (min-width: 768px) {
    order: 2;
  }
}



// right col

.header__menu-mob-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 3rem;
  height: 100%;

  margin: 0;
  padding: 0;

  @include no-btn;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__icon-burger {
  width: 3rem;
  height: 1.8rem;

  fill: $darkgray;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__icon-burger:hover {
  fill: $gray;
}

svg path {
  fill: inherit;
}





// Menu
.header__menu-mob {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  box-sizing: border-box;

  background-color: $white;

  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

@keyframes slide-right {
  0% {

    transform: translateX(-100%);
  }
  100% {

    transform: translateX(0);
  }
}


.header__menu-mob-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 6.8rem;

  padding-bottom: 0.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
}

.header__menu-mob-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.3rem;
  height: 2.3rem;

  object-fit: cover;
}

.header__icon-close {
  width: 2.3rem;
  height: 2.3rem;

  fill: $darkgray;


}

.header__icon-close:hover {
  fill: $gray;
}


.header__mob-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;

  margin: 0;
  margin-top: 3.8rem;
  margin-bottom: auto;
  padding: 0;
}

.header__mob-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  list-style: none;
}

.header__mob-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 4.4rem;

  &:hover {
    background-color: $neutral-300;
  }
}

.header__mob-item-link {
  font-size: 1.6rem;
  font-weight: 300;
  color: $black;

  text-decoration: none;

  &:hover {
    color: $blue;
  }
}


.header__mob-enter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.header__mob-enter-link {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;

  font-size: 1.6rem;
  font-weight: 500;
  color: $black;

  text-decoration: none;

  &:hover {
    color: $blue;
  }
}


.header__mob-rules {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  margin-top: 4rem;
}


.header__mob-rules-link {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;

  font-size: 1.6rem;
  font-weight: 300;
  color: $black;

  text-decoration: none;

  &:hover {
    color: $blue;
  }
}