<section id="ns" class="news">
  <div class="news__wrapper">
    <div class="news__title-row">
      <h2 class="news__h2">Новости</h2>
      <a href="#" class="news__h3">Все новости</a>
    </div>

    <ul class="news__pict-list">
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_1.jpg" alt="frame-img">
        <p class="news__pict-item-num">2</p>
      </li>
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_2.jpg" alt="frame-img">
        <p class="news__pict-item-num">1</p>
      </li>
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_3.jpg" alt="frame-img">
        <p class="news__pict-item-num">3</p>
      </li>
    </ul>

    <ul class="news__pict-list news__pict-list--add" :class="{ 'active' : show }">
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_1.jpg" alt="frame-img">
        <p class="news__pict-item-num">2</p>
      </li>
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_2.jpg" alt="frame-img">
        <p class="news__pict-item-num">1</p>
      </li>
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_3.jpg" alt="frame-img">
        <p class="news__pict-item-num">3</p>
      </li>
    </ul>

    <button class="news__btn" @click="show = !show" :class="{ 'active' : !show }">Показать ещё</button>
    <button class="news__btn" @click="show = !show" :class="{ 'active' : show }">Скрыть</button>

  </div>

</section>


<script>
  new Vue ({
    el: '#ns',
    data: {
      show: false
    }

  })

</script>