<section class="news">
  <div class="news__wrapper">
    <h2 class="news__h2">Новости</h2>

    <ul class="news__pict-list">
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_1.jpg" alt="frame-img">
        <p class="news__pict-item-num">2</p>
      </li>
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_2.jpg" alt="frame-img">
        <p class="news__pict-item-num">1</p>
      </li>
      <li class="news__pict-item">
        <img class="news__pict-item-img" src="img/img_3.jpg" alt="frame-img">
        <p class="news__pict-item-num">3</p>
      </li>
    </ul>

    <a href="#" class="news__link">Показать ещё</a>

  </div>

</section>