<section id="crs" class="slider">
  <h2 class="v-hidden">Слайдер</h2>
  <div class="slider__wrapper">



    <div class="slider__item" :style="{ 'margin-left': '-' + (200 * this.itemnum) + '%' }">
      <a href="#" class="slider__link">
        <img :src="item.src" alt="img" class="slider__item-img"
             v-for="(item, id) in items"
             :key="id"
             v-bind:data-slide-to="id"
             :class="{ 'active' : id===itemnum }"

             :interval="0"
        >
      </a>
    </div>

    <button class="slider__btn slider__prev" @click="prevSlide">
      <svg class="slider__icon-move" role="button">
        <use xlink:href="#icon-arrow"></use>
      </svg>
    </button>
    <button class="slider__btn slider__next" @click="nextSlide">Next</button>
  </div>

  <input type="text">

</section>


<script>

  const crs = new Vue ({
    el: '#crs',
    data: {
      itemnum: 0,
      show: false,
      interval: 3000,
      items: [
        {
          id: 1,
          src: 'img/slide_1.jpg'
        },
        {
          id: 2,
          src: 'img/slide_2.jpg'
        },
        {
          id: 3,
          src: 'img/slide_3.jpg'
        },
        {
          id: 4,
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
        }
      ]
    },
    methods: {
      prevSlide() {
        if (this.itemnum > 0) {
          this.itemnum--
          console.log(this.itemnum)
        }
      },
      nextSlide() {
        if (this.itemnum >= this.items.length - 1) {
          this.itemnum = 0

        } else {
          this.itemnum++
          console.log(this.itemnum)
        }
      },
    },
    mounted() {
      if(this.interval > 0) {
        let vm = this;
        setInterval( function () {
          vm.nextSlide()
        }, vm.interval)
      }
    }

  })


</script>