<section id="sb" class="subscribe">
  <div class="subscribe__wrapper">
    <h2 class="v-hidden">Подписка на рассылку</h2>

    <form class="subscribe__form"
          @submit="checkForm"

    >
      <h2 class="subscribe__h2">подпишитесь на рассылку</h2>
      <div class="subscribe__content-wrapper">
        <label class="subscribe__label">
          <span class="subscribe__label-txt">Имя</span>
          <input type="text" class="subscribe__input" placeholder="Имя"
                 id="name"
                 v-model="name"
                 type="text"
                 name="name"
                 required
          >
        </label>

        <label class="subscribe__label">
          <span class="subscribe__label-txt">E-mail</span>
          <input type="text" class="subscribe__input" placeholder="examle@you.mail"
                 id="email"
                 v-model="email"
                 type="email"
                 name="email"
                 required
          >
        </label>

        <label class="subscribe__label">
          <span class="subscribe__label-txt">Заполните поле</span>
          <textarea class="subscribe__textarea" name="" id="" cols="30" rows="10"></textarea>
        </label>

        <div v-if="errors.length" class="subscribe__error-block">
          <p class="subscribe__error-attention">Пожалуйста исправьте ошибки:</p>
          <ul class="subscribe__error-list">
            <li class="subscribe__error-item" v-for="error in errors">{{ error }}</li>
          </ul>
        </div>

        <button class="subscribe__btn" type="submit" @click="checkForm">Подписаться</button>
      </div>

      <div class="subscribe__success" :class="{ active: send = !send }">
        <div class="subscribe__content">
          <p class="subscribe__success-txt">Благодарим за подписку!</p>
        </div>
      </div>

    </form>
  </div>
</section>



<script>


  const sb = new Vue ({
    el: '#sb',
    data: {
      errors: [],
      name: null,
      email: null,
      send: false,

    },

    methods: {
      checkForm: function (e) {
        this.errors = [];

        if (!this.name) {
          this.errors.push('Укажите имя.');
        } else if (!this.validName(this.name)) {
          this.errors.push('Имя не должно содержать цифры');
        }
        if (!this.email) {
          this.errors.push('Укажите электронную почту.');
        } else if (!this.validEmail(this.email)) {
          this.errors.push('Укажите корректный адрес электронной почты.');
        }

        if (!this.errors.length) {
          return true;
        }

        e.preventDefault();
      },
      validName: function (name) {
        var ren =
          /^[a-zA-Z_ ]*$/;
        return ren.test(name);
      },
      validEmail: function (email) {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },
      name: null,
      email: null,
      send: true,
    }

  })

</script>