<section id="sb" class="subscribe">
  <div class="subscribe__wrapper">
    <h2 class="v-hidden">Подписка на рассылку</h2>

    <form class="subscribe__form"
          @submit.prevent="checkForm"
    >
      <h2 class="subscribe__h2">подпишитесь на рассылку</h2>
      <div class="subscribe__content-wrapper">



        <label class="subscribe__label">

            <div class="subscribe__error-block">
                <p class="subscribe__error-item">{{ errors }}</p>
            </div>

          <span class="subscribe__label-txt">Имя</span>
          <input type="text" class="subscribe__input" placeholder="Имя"
                 id="name"
                 name="name"
                 v-model="youname"
                 :class="{ attention:  this.errors }"
          >
        </label>



        <label class="subscribe__label">

            <div class="subscribe__error-block">
                <p class="subscribe__error-item">{{ emailerrors }}</p>
            </div>

          <span class="subscribe__label-txt">E-mail</span>
          <input type="text" class="subscribe__input" placeholder="examle@you.mail"
                 id="email"
                 v-model="email"
                 name="email"
                 :class="{ attention:  this.emailerrors }"
          >
        </label>

        <label class="subscribe__label">
          <span class="subscribe__label-txt">Ваши комментарии</span>
          <textarea class="subscribe__textarea" name="" id="" cols="30" rows="10"></textarea>
        </label>



        <button class="subscribe__btn" type="submit" @click:="checkForm">Подписаться</button>

          <div class="subscribe__success-block">
              <p class="subscribe__success-item">{{  success }}</p>
          </div>
      </div>

      <div class="subscribe__success"
            v-show="modal"
      >
        <div class="subscribe__content">
            <img src="img/done.svg" alt="check" class="subscribe__success-icon">
          <p class="subscribe__success-txt">Уважаемый, <b class="subscribe__success-txt--name">{{ successname }}</b>, спасибо за подписку!</p>
        </div>
      </div>

    </form>
  </div>
</section>



<script>


  const sb = new Vue ({
    el: '#sb',
    data: {
      errors: '',
      emailerrors: '',
      success: '',
      youname: null,
      email: null,
      send: false,
      modal: false,
      successname: '',

    },

    methods: {
      checkForm () {

        this.errors = ''
        this.emailerrors = ''
        this.success = ''


     if (!this.youname) {
          this.errors = 'Заполните поле';
        } else if (!this.validName(this.youname)) {
          this.errors = 'Цифры в имени недопустимы';
        }
        else if (!this.email) {
          this.emailerrors = 'Заполните поле';
        } else if (!this.validEmail(this.email)) {
          this.emailerrors = 'Не верный адрес';
        }

     else if (this.youname && this.email) {
          this.success = 'Заявка отправлена';

          setTimeout(() => {
            this.modal = !this.modal
          }, 1500);


       setTimeout(() => {
         this.modal = !this.modal
       }, 4000);

          this.successname = this.youname

        this.youname = null
        this.email = null
        }



      },
      validName: function (youname) {
        let re =
          /^[A-Za-zА-Яа-я +]*$/g;
        return re.test(youname);
      },
      validEmail: function (email) {
        let re =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },


      // showModal() {
      //     return setTimeout(() => {
      //       this.showModal()
      //       this.send = !this.send
      //     }, 5000)
      // },

    },


  })

</script>