.g_entry {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  width: 100%;

  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  font-family: $mainFont;

  &--pb {
    padding-bottom: 10rem;
  }

  @media screen and (min-width: 480px) {
    width: 42rem;

    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    height: 100%;
  }
}
