<!-- inline svg sprite -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="752" height="40"
     viewBox="0 0 752 40" style="display: none;">
  <symbol>
    <svg id="icon-call-center" viewBox="0 0 40 40">
      <path
        d="M20.1818 10C15.6364 10 12 13.6364 12 18.1818V24.5455C12 25.2688 12.2873 25.9625 12.7988 26.4739C13.3103 26.9854 14.004 27.2727 14.7273 27.2727H17.4545V20H13.8182V18.1818C13.8182 16.4941 14.4886 14.8755 15.682 13.682C16.8755 12.4886 18.4941 11.8182 20.1818 11.8182C21.8696 11.8182 23.4882 12.4886 24.6816 13.682C25.875 14.8755 26.5455 16.4941 26.5455 18.1818V20H22.9091V27.2727H26.5455V28.1818H20.1818V30H25.6364C26.3597 30 27.0534 29.7127 27.5648 29.2012C28.0763 28.6897 28.3636 27.996 28.3636 27.2727V18.1818C28.3636 13.6364 24.7 10 20.1818 10Z"
        fill="#757575"/>
    </svg>
    <svg id="icon-burger" width="27" height="18.167" viewBox="0 0 27 18.167">
      <g id="burger" transform="translate(-278 -56.5)">
        <line id="Line_728" data-name="Line 728" x2="27" transform="translate(278 57.5)" fill="none"
              stroke="#000" stroke-width="2"/>
        <line id="Line_729" data-name="Line 729" x2="27" transform="translate(278 65.583)" fill="none"
              stroke="#000" stroke-width="2"/>
        <line id="Line_730" data-name="Line 730" x2="27" transform="translate(278 73.667)" fill="none"
              stroke="#000" stroke-width="2"/>
      </g>
    </svg>
    <svg id="icon-close" width="22.425" height="22.57" viewBox="0 0 22.425 22.57">
      <g id="burger" transform="translate(-279.782 -55.793)">
        <line id="Line_728" data-name="Line 728" x2="22" y2="22" transform="translate(280.5 56.5)" fill="none" stroke="#000" stroke-width="2"/>
        <line id="Line_730" data-name="Line 730" y1="22.167" x2="21.5" transform="translate(280.5 56.5)" fill="none" stroke="#000" stroke-width="2"/>
      </g>
    </svg>
  </symbol>
</svg>
<!-- ================= -->

<header id="hdr" class="header">

  <!--   Top Menu   -->
  <section class="header__top-line">
    <h2 class="v-hidden">Верхнее меню</h2>
    <div class="header__wrapper">
      <ul class="header__top-list">
        <li class="header__top-item">Режим работы</li>
        <li class="header__top-item">Правила посещения</li>
      </ul>
    </div>
  </section>


  <div class="header__wrapper header__bottom-line">
    <a href="#" class="header__logo">
      <img src="img/logo.png" alt="логотип компании" class="header__logo-img">
    </a>

    <nav class="header__main-nav">
      <ul class="header__main-nav-list">
        <li class="header__main-nav-item">
          <a href="#" class="header__main-nav-link">О компании</a>

            <ul class="header__main-subnav">
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Раздел 1</a></li>
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Раздел 2</a></li>
            </ul>
        </li>
        <li class="header__main-nav-item">
          <a href="#" class="header__main-nav-link">Партнёрская программа</a>

            <ul class="header__main-subnav">
                <li
                  class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Программа
                    развития</a></li>
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Программа
                    финансирования</a></li>
            </ul>
        </li>
        <li class="header__main-nav-item">
          <a href="#" class="header__main-nav-link">Реклама</a>

            <ul class="header__main-subnav">
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Раздел 1</a></li>
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Раздел 2</a></li>
            </ul>
        </li>
        <li class="header__main-nav-item">
          <a href="#" class="header__main-nav-link">Пресс-центр</a>

            <ul class="header__main-subnav">
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Раздел 1</a></li>
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Раздел 2</a></li>
            </ul>
        </li>
        <li class="header__main-nav-item">
          <a href="#" class="header__main-nav-link">Вакансии</a>

            <ul class="header__main-subnav">
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Вакансия 1</a></li>
                <li class="header__main-subnav-item"><a href="#" class="header__main-subnav-link">Вакансия 2</a></li>
            </ul>
        </li>
      </ul>
    </nav>

    <div class="header__menu-enter">
      <button class="header__enter-reg">Регистрация</button>
      <a href="#" class="header__enter-link">Вход</a>
    </div>

    <!--        <h1 class="header__title">Header</h1>-->
    <button class="header__menu-mob-btn" @click="show = !show">
      <svg class="header__icon-burger" role="button">
        <use xlink:href="#icon-burger"></use>
      </svg>
    </button>

    <!--   mob Menu   -->
    <section class="header__menu-mob" v-show="show">
      <h2 class="v-hidden">Мобильное меню</h2>
      <header class="header__menu-mob-head">
        <a href="#" class="header__logo">
          <img src="img/logo.png" alt="логотип компании" class="header__logo-img">
        </a>

        <button class="header__menu-mob-btn"  @click="show = false">
          <svg class="header__icon-close" role="button">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </header>

      <nav class="header__mob-nav">
        <ul class="header__mob-list">
          <li class="header__mob-item">
            <a href="#" class="header__mob-item-link">Главная</a>
          </li>
          <li class="header__mob-item">
            <a href="#" class="header__mob-item-link">О компании</a>
          </li>
          <li class="header__mob-item">
            <a href="#" class="header__mob-item-link">Продукция</a>
          </li>
          <li class="header__mob-item">
            <a href="#" class="header__mob-item-link">Производство</a>
          </li>
        </ul>
      </nav>

      <div class="header__mob-enter">
        <a href="" class="header__mob-enter-link">Вход</a>
        <a href="" class="header__mob-enter-link">Регистрация</a>
      </div>

      <div class="header__mob-rules">
        <a href="" class="header__mob-rules-link">Вход</a>
        <a href="" class="header__mob-rules-link">Регистрация</a>
      </div>

    </section>

  </div>


</header>


<script>

  const vw = new Vue ({
    el: '#hdr',
    data: {
      show: false,

    },
    methods: {

    }

  })

</script>